@media (min-width: 300px) and (max-width: 767px) {
html, body {
    overflow-x: hidden;
}
body {
    position: relative
}
.header .logo{
    width: 100%;
    transform: skew(0deg);
    margin: 0px;  
}
.logo-img{
    transform: skew(0deg);
    width: 200px;
    height: 85px;
      
}
#registration-form{
    width: 100%;     
}
.card{
    width: 100%;
  
}
.card img{
    width: 300px;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
 html, body {
    overflow-x: hidden;
}
body {
    position: relative
}
.header .logo{
    width: 100%;
    transform: skew(0deg);
    margin: 0px;  
}
.logo-img{
    transform: skew(0deg);
    width: 150px;
    height: 90px;
}  
}